# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Code
*.conf text
*.css text
*.htm text
*.html text
*.js text
*.json text
*.log text
*.md text
*.py text
*.txt text

# Archive
*.7z binary
*.rar binary
*.zip binary

# Media
*.bmp binary
*.cur binary
*.gif binary
*.jpg binary
*.png binary
