html,body {
   background: url('../images/background.png') repeat scroll 50%;
   font-size: 14px;
   margin: 0;
   padding: 0;
}

.common-container {
   margin: 20px auto;
   width: 1010px;
}

.common-nav {
   position: fixed;
   margin: 20px 10px;
   width: 190px;
}

.common-content {
   float: right;
   margin: 20px 10px;
   width: 765px
}

.common-header {
   font-size: 20px;
   padding: 10px 20px;
}

.common-header-title {

}

.common-header-page {
   float: right;
   font-weight: normal;
}

.common-body {
   border-top: 0;
   padding: 20px;
}

.common-logger {

}