html,body {
   font-size: 14px;
   height: 100%;
   margin: 0;
   overflow: hidden;
   padding: 0;
   width: 100%;
}

.ui-widget {
   font-size: 14px;
}

.meter-widget {
   position: absolute;
   top: 120px;
}

.olmap-widget {
   bottom: 0;
   position: absolute;
   top: 145px;
   width: 100%;
}