.ui-meter {
   background-image: none;
   border-width: 0 0 1px 0;
   height: 24px;
   width: 100%;
}

.ui-meter-bar {
   height: 10px;
   left: 23px;
   position: absolute;
   right: 23px;
   top: 6px;
}

.ui-meter-value {
   width: 0;
}

.ui-meter-marker {
   background-image: url('../images/meter-marker.png');
   height: 24px;
   position: absolute;
   visibility: hidden;
   width: 46px;
   z-index: 1030;
}

.ui-meter-flag-actions {
   position: absolute;
   top: 7px;
}

.ui-meter-flag-action {
   height: 10px;
   position: absolute;
   width: 3px;
}

.ui-meter-team-ch {
   background-color: #FFB7B4;
}

.ui-meter-team-eu {
   background-color: #819DFF;
}

.ui-meter-team-mec {
   background-color: #FFD191;
}

.ui-meter-team-none {
   background-color: #969698;
}

.ui-meter-team-us {
   background-color: #44D5FF;
}
