.ui-nav {
   font-size: 18px;
}

.ui-nav-content {
   padding: 20px;
}

.ui-nav-logo {
   border: 1px solid black;
   height: 125px;
   margin-bottom: 20px;
   text-align: center;
   width: 210px;
}

.ui-nav-menu-header,
.ui-nav-menu-footer {
   margin-top: 2px;
   padding: 6px 10px;
   text-align: center;
}

.ui-nav-menu {
   cursor: pointer;
   margin-top: 2px;
}

.ui-nav-menu-icon {
   float: left;
   margin-left: 10px;
   margin-right: 5px;
   margin-top: 14px;
}

.ui-nav-menu-link {
   display: block;
   padding: 10px;
}
