.olMap {
   border: 0;
   height: 100%;
   position: absolute;
   width: 100%;
}

.ui-olmap-enabled .olDragDown {
   cursor: url(../images/hand-closed.cur), default;
}

.olControlPanPanel {
   background: url(../images/pan-panel.png) no-repeat;
   cursor: default;
   height: 54px;
   left: 17px;
   top: 23px;
   width: 54px;
}

.olControlPanPanel .olButton {
   cursor: pointer;
   height: 16px;
   position: absolute;
   width: 16px;
}

.olControlPanNorthItemActive {
   left: 18px;
   top: 0px;
}

.olControlPanSouthItemActive {
   left: 18px;
   top: 34px;
}

.olControlPanWestItemActive {
   left: 0px;
   top: 18px;
}

.olControlPanEastItemActive {
   top: 18px;
   left: 34px;
}

.olControlZoomPanel {
   background: url(../images/zoom-panel.png) no-repeat;
   cursor: default;
   height: 64px;
   left: 34px;
   top: 95px;
   width: 20px;
}

.olControlZoomPanel .olButton {
   cursor: pointer;
   height: 18px;
   position: absolute;
   width: 18px;
}

.olControlZoomInItemActive {
   left: 0px;
   top: 2px;
}

.olControlZoomToMaxExtentItemActive {
   left: 0px;
   top: 22px;
}

.olControlZoomOutItemActive {
   left: 0px;
   top: 42px;
}

.olControlLayerSwitcher {
   cursor: default;
   left: 32px;
   top: 169px;
}

.olControlLayerSwitcher .layersDiv {
   opacity: 0.8;
   padding: 5px 10px 10px 10px;
}

.olControlLayerSwitcher .maximizeDiv {
   cursor: pointer;
   height: 20px;
   width: 22px;
}

.olControlLayerSwitcher .minimizeDiv {
   cursor: pointer;
   height: 18px;
   right: 5px;
   top: 5px;
   width: 18px;
}

.olControlLayerSwitcher .dataLbl {
   font-weight: bold;
   margin-bottom: 5px;
}

.olControlLayerSwitcher input {
   margin-left: 0;
   margin-right: 5px;
   margin-top: 5px;
   position: relative;
   top: 1px;
}

.ui-olmap-dialog {
   border-width: 2px;
   display: none;
   font-weight: bold;
   opacity: 0.8;
   padding: 8px;
   position: absolute;
   text-align: center;
   text-shadow: 1px 1px 1px #000000;
   top: 10px;
   z-index: 1000;
}

.ui-olmap-dialog-team-ch {
   color: #FFB7B4;
}

.ui-olmap-dialog-team-eu {
   color: #819DFF;
}

.ui-olmap-dialog-team-mec {
   color: #FFD191;
}

.ui-olmap-dialog-team-none {
   color: #969698;
}

.ui-olmap-dialog-team-us {
   color: #44D5FF;
}

.ui-olmap-dialog-attacker,
.ui-olmap-dialog-weapon,
.ui-olmap-dialog-victim {
  display: inline-block;
}
