.olMap {
   border: none;
   height: 100%;
   position: absolute;
   width: 100%;
}

.ui-olmap-enabled .olDragDown {
   cursor: url(../images/hand-closed.cur), default;
}

.olControlPanPanel {
   background: url(../images/pan-panel.png) no-repeat;
   cursor: default;
   height: 54px;
   left: 10px;
   top: 48px;
   width: 54px;
}

.olControlPanPanel .olButton {
   cursor: pointer;
   height: 16px;
   position: absolute;
   width: 16px;
}

.olControlPanNorthItemActive {
   left: 18px;
   top: 0px;
}

.olControlPanSouthItemActive {
   left: 18px;
   top: 34px;
}

.olControlPanWestItemActive {
   left: 0px;
   top: 18px;
}

.olControlPanEastItemActive {
   top: 18px;
   left: 34px;
}

.olControlZoomPanel {
   background: url(../images/zoom-panel.png) no-repeat;
   cursor: default;
   height: 64px;
   left: 27px;
   top: 112px;
   width: 20px;
}

.olControlZoomPanel .olButton {
   cursor: pointer;
   height: 18px;
   position: absolute;
   width: 18px;
}

.olControlZoomInItemActive {
   left: 0px;
   top: 2px;
}

.olControlZoomToMaxExtentItemActive {
   left: 0px;
   top: 22px;
}

.olControlZoomOutItemActive {
   left: 0px;
   top: 42px;
}

.olControlLayerSwitcher {
   cursor: default;
   right: 1px;
   top: 10px;
}

.olControlLayerSwitcher .layersDiv {
   padding: 5px 10px 10px 10px;
}

.olControlLayerSwitcher .maximizeDiv {
   cursor: pointer;
   height: 20px;
   right: 0;
   top: 0;
   width: 22px;
}

.olControlLayerSwitcher .minimizeDiv {
   cursor: pointer;
   height: 18px;
   right: 5px;
   top: 5px;
   width: 18px;
}

.olControlLayerSwitcher .dataLbl {
   font-weight: bold;
   margin-bottom: 5px;
}

.olControlLayerSwitcher input {
   margin-left: 0;
   margin-right: 5px;
   margin-top: 5px;
   position: relative;
   top: 1px;
}