.ui-ticker {
   background-image: none;
   border-width: 0 0 1px 0;
   height: 100%;
   overflow: hidden;
   width: 100%;
}

.ui-ticker-slider {
   position: relative;
}

.ui-ticker-nav {
   cursor: pointer;
   opacity: 0.4;
   position: absolute;
   right: 0;
   top: 3px;
   z-index: 1200;
}

.ui-ticker-nav:hover {
   opacity: 1.0;
}

.ui-ticker-item {
   cursor: pointer;
   margin-right: 6px;
   position: absolute;
   width: 254px;
}

.ui-ticker-item-shadow {
   height: 120px;
   position: absolute;
   width: 253px;
   z-index: 1025;
}

.ui-ticker-item-name {
   height: 20px;
   padding-top: 2px;
   position: relative;
   text-align: center;
   z-index: 1050;
}

 .ui-ticker-item-content {
   border-top: 0;
   height: 96px;
   position: relative;
   z-index: 1050;
}

.ui-ticker-item-photo {
   background-image: url('../images/players/missing-medium.png');
   border-width: 0 0 0 1px;
   height: 96px;
   position: absolute;
   right: 0;
   top: 0;
   width: 96px;
}

.ui-ticker-item-icons {
   position: absolute;
   right: 97px;
}

.ui-ticker-place {
   border-width: 0 0 1px 1px;
   height: 35px;
   text-align: center;
   width: 35px;
}

.ui-ticker-place-label {
   font-size: 11px;
   font-weight: normal;
   left: -1px;
   position: relative;
}

.ui-ticker-place-value {
   font-size: 22px;
   position: relative;
   top: -4px;
   left: -1px;
}

.ui-ticker-item-icons .ui-ticker-trend {
   background: none;
   border: none;
   margin: 2px auto;
   width: 16px;
}

.ui-ticker-team {
   margin: 2px auto;
}

.ui-ticker-rank {
   margin: 0 auto;
}

.ui-ticker-stats {
   border-collapse: collapse;
   height: 100%;
}

.ui-ticker-score {
   font-size: 22px;
}

.ui-ticker-support,
.ui-ticker-kills,
.ui-ticker-deaths {
   font-size: 14px;
}

.ui-ticker-stat-value {
   padding-right: 2px;
   text-align: center;
   width: 45px;
}

.ui-ticker-spec {
   font-size: 18px;
   height: 100%;
   padding-left: 20px;
   padding-top: 30px;
}
