.ui-table {
   font-size: 18px;
}

.ui-table-container {
   border-spacing: 0;
   width: 100%;
}

.ui-table-header th.ui-state-default {
   border-left: none;
   padding: 6px 8px;
   white-space: nowrap;
}

.ui-table-row-even {
   background-color: #E9E6DB;
}

.ui-table-row-odd {
   background-color: #DED9C6;
}

.ui-table-cell {
   border-color: #38563A;
   border-style: solid;
   border-width: 0 1px 1px 0;
   margin: 0;
   padding: 4px 8px;
   white-space: nowrap;
}

.ui-table-empty,
.ui-table-load,
.ui-table-error {
   background-color: #E9E6DB;
   font-style: italic;
   font-weight: bold;
}

.ui-table-empty td,
.ui-table-load td,
.ui-table-error td {
   border-color: #38563A;
   border-style: solid;
   border-width: 0 1px 1px 1px;
   padding: 4px 8px;
}

.ui-table-header .ui-table-cell-empty,
.ui-table-header .ui-table-cell-rank,
.ui-table-cell-rank {
   border-left: 1px solid #38563A;
   cursor: default;
   text-align: center;
}

.ui-table-data-string {
   text-align: left;
}

.ui-table-data-number ,
.ui-table-data-time {
   text-align: center;
}

.ui-table-data-player a {
   color: #3C4A2C;
   display: block;
   height: 32px;
   text-decoration: none;
}
.ui-table-cell a:hover span {
   text-decoration: underline;
}

.ui-table-data-player span {
   line-height: 32px;
   margin-left: 8px;
   vertical-align: top;
}

.ui-table-empty .ui-icon {
   float: left;
   margin-right: 8px;
   position: relative;
   top: 4px;
}

.ui-table-load .ui-icon {
   background: url('../images/table-load.gif') no-repeat;
   float: left;
   margin-right: 8px;
   position: relative;
   top: 4px;
}

.ui-table-error .ui-icon {
   float: left;
   margin-right: 8px;
   position: relative;
   top: 4px;
}

.ui-table-sort-icon {
   margin-left: 4px;
   margin-top: 4px;
}

.ui-table-header,
.ui-table-header-sorted {
   cursor: pointer;
}

.ui-table-header .ui-table-sort-icon {
   display: none;
}

.ui-table-header-sorted .ui-table-sort-icon {
   display: inline-block;
}

.ui-table-footer td.ui-state-default {
   border-top: none;
   padding: 6px 8px;
}

.ui-table-show {
   display: none;
   cursor: pointer;
   font-size: 14px;
   left: -4px;
   position: relative;
   top: -2px;
}

.ui-table-show:hover {
   text-decoration: underline;
}

.ui-table-show .ui-icon {
   display: inline-block;
   margin-right: 2px;
   position: relative;
   top: 3px;
}
